body {
  background: #111;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

#container {
  position: relative;
  width: 640px;
  margin: 20px auto;
}

video, canvas {
  width: 640px;
  height: 480px;
  position: absolute;
  left: 0;
  top: 0;
}
